



@font-face {
    font-family: 'gorditabold';
    src: url('../font/gordita-bold-webfont.woff2') format('woff2'),
         url('../font/gordita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditamedium';
    src: url('../font/gordita-medium-webfont.woff2') format('woff2'),
         url('../font/gordita-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gorditaregular';
    src: url('../font/gordita-regular-webfont.woff2') format('woff2'),
         url('../font/gordita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}