
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/2604b6b83b84462b831c3f8292a6fd1e.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before { content: "\e620"; }

.icon-paimingbiaoqian:before { content: "\e77e"; }

.icon-fuxuansel:before { content: "\e64d"; }

.icon-youjian:before { content: "\e623"; }

.icon-unchoice:before { content: "\e639"; }

.icon-anquanbaozhang1:before { content: "\e61c"; }

.icon-yonghu:before { content: "\e645"; }

.icon-pingguo:before { content: "\e610"; }

.icon-shang:before { content: "\e61e"; }

.icon-xia:before { content: "\e61f"; }

.icon-anzhuo:before { content: "\e63d"; }

.icon-guanbi1:before { content: "\e7b7"; }

.icon-mima:before { content: "\e652"; }

.icon-icon--:before { content: "\e650"; }

.icon-queren:before { content: "\e604"; }

.icon-qq:before { content: "\e7c9"; }

.icon-yinliang:before { content: "\e6c5"; }

.icon-dingwei:before { content: "\e6cb"; }

.icon-xinfengyoujian:before { content: "\e6eb"; }

.icon-jinbi:before { content: "\e6ee"; }

.icon-dingdan:before { content: "\e719"; }

.icon-fabu:before { content: "\e71f"; }

.icon-fenzu:before { content: "\e726"; }

.icon-fuwuqi:before { content: "\e727"; }

.icon-fuhao-yuedu:before { content: "\e72d"; }

.icon-guanbi:before { content: "\e735"; }

.icon-kefu:before { content: "\e73c"; }

.icon-renwuchaxun:before { content: "\e74a"; }

.icon-shangpin:before { content: "\e74e"; }

.icon-shenhe:before { content: "\e750"; }

.icon-shuaxin:before { content: "\e758"; }

.icon-wode:before { content: "\e763"; }

.icon-yinhangqia:before { content: "\e767"; }

.icon-zixun:before { content: "\e771"; }

.icon-youjiantou:before { content: "\e62c"; }

.icon-zuojiantou:before { content: "\e62d"; }

