
.avatar,
.logo {
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  transition:all .5s; }

.logo:hover {
  border: 3px solid #FF7F00;
transition:all .5s;
transform:rotate(360deg);
-ms-transform:rotate(360deg); 	/* IE 9 */
-moz-transform:rotate(360deg); 	/* Firefox */
-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
-o-transform:rotate(350deg); 	/* Opera */
}

hr {
  border: none; }
