
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/1b2acfe5641d43bda8a8a88612147592.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telephone:before { content: "\e646"; }

.icon-new:before { content: "\e628"; }

.icon-xiangshang:before { content: "\e66b"; }

.icon-fuxuansel:before { content: "\e64d"; }

.icon-xiazai5:before { content: "\e605"; }

.icon-youjian:before { content: "\e623"; }

.icon-xiangxia:before { content: "\e6b2"; }

.icon-unchoice:before { content: "\e639"; }

.icon-anquanbaozhang1:before { content: "\e61c"; }

.icon-yonghu:before { content: "\e645"; }

.icon-weixin:before { content: "\e62c"; }

.icon-pingguo:before { content: "\e610"; }

.icon-cuowutishi:before { content: "\e743"; }

.icon-anzhuo:before { content: "\e63d"; }

.icon-help:before { content: "\e688"; }

.icon-server:before { content: "\e69e"; }

.icon-staff:before { content: "\e6a5"; }

.icon-window:before { content: "\e6c0"; }

.icon-info-read:before { content: "\e6cc"; }

.icon-panel:before { content: "\e6d0"; }

.icon-account-asset:before { content: "\e71b"; }

.icon-set-alarm:before { content: "\e728"; }

.icon-batch-add:before { content: "\e738"; }

.icon-batch-import:before { content: "\e73b"; }

.icon-shopping-cart:before { content: "\e785"; }

.icon-money:before { content: "\e78b"; }

.icon-blackboard:before { content: "\e78e"; }

.icon-mima:before { content: "\e652"; }

.icon-icon--:before { content: "\e650"; }

.icon-queren:before { content: "\e604"; }

.icon-you:before { content: "\e600"; }

.icon-zuo:before { content: "\e601"; }

.icon-protocol-audit:before { content: "\e7c8"; }

.icon-dui:before { content: "\e624"; }

.icon-guanbi:before { content: "\e625"; }

.icon-qq:before { content: "\f216"; }

.icon-script-language:before { content: "\e7e3"; }

.icon-quxiaojingyin:before { content: "\e7f0"; }

